@import "variables";

a {
  color: inherit;
  text-decoration: inherit;
  display: flex;
}

.main {
  position: absolute;
  display: flex;
  font-family: $sans-serif;
  font-weight: 300;
  height: 100%;
  width: 100%;
}

.notebook-container {
  background: rgb(248, 248, 248);
  border-right: 1px solid rgb(230, 230, 230);
  display: flex;
  flex-direction: column;
  font-family: $sans-serif;
  font-weight: 300;
  overflow: scroll;
  width: 345px;

  header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 166px;
    border-bottom: 1px solid rgb(230, 230, 230);
  }

  h1 {
    color: rgb(51, 51, 51);
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 50px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 25px;
    overflow: hidden;
  }
}

.notebook-info-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 20px;
  padding-top: 5px;
}

.notes-count {
  color: rgb(166, 166, 166);
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
}

.notebook-header-icons {
  justify-content: space-between;
  width: 75px;
}

.notebooks-index-container {
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;

  h2 {
    color: rgb(49, 49, 49);
    font-weight: 400;
    font-size: 20px;
    line-height: 80px;
    min-height: 80px;
  }
}

.notebooks-index-header-container {
  color: rgb(51, 51, 51);
  justify-content: space-between;
  // margin-top: 10px;

  h3 {
    font-size: 15px;
    font-weight: 500;
    line-height: 25px;
  }
}

#create-notebook-btn {
  background-color: white;
  border: none;
  color: rgb(0, 168, 45);
  cursor: pointer;
  float: right;
  font-size: 14px;
  font-weight: 500;
  line-height: 25px;
  margin-right: 20px;
  outline-color: rgb(0, 168, 45);
  padding-top: 0px;
  padding-bottom: 2px;
  text-align: center;
}

.notebooks-table {
  border-top: 2px solid rgb(91, 107, 112);
  margin-top: 8px;
  overflow: scroll;
}
.header-row {
  background-color: rgb(248, 248, 248);
  border-bottom: 1px solid rgb(237, 237, 237);
  color: rgb(179, 179, 179);
  font-size: 11px;
  font-weight: 400;
  justify-content: space-between;
  padding-bottom: 13px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 13px;
  text-transform: uppercase;

  li {
    margin-left: 20px;
    min-width: 100px;

    &:last-child {
      text-align: right;
    }
  }
}

.notebooks-index-item {
  font-size: 11px;
  font-weight: 400;
  justify-content: space-between;
  padding-bottom: 10px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 10px;

  ul {
    min-width: 345px;
    justify-content: space-between;
  }

  li {
    color: rgb(119, 119, 119);
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    margin-left: 20px;
    min-width: 100px;

    &:last-child {
      text-align: right;
    }
  }

  > div {
    color: rgb(49, 49, 49);
    cursor: pointer;
    font-size: 14px;
    margin-left: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px;
  }

  .notebook-index-icon {
    padding-right: 5px;
  }


  &:nth-of-type(2n+1) {
      background-color: rgb(248, 248, 248);
  }

  &:hover {
    background-color: rgb(242, 242, 242);
    transition: all 0.1s ease-out;
  }

  .notebook-link {
    text-decoration: none;
    
    &:hover {
      text-decoration: underline;
      transition: all 0.1s ease-in-out;
    }

    &:visited {
      color: rgb(49, 49, 49);
    }
  }
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(42, 51, 60, .4);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}