@import "variables";

body {
  overscroll-behavior-y: none;
}

.main {
  position: relative;
  display: flex;
  font-family: $sans-serif;
  font-weight: 300;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  // overflow-y: scroll;
  // overflow-y: hidden;

  a {
    color: inherit;
    text-decoration: inherit;
    display: flex;
  }
}

.notebook-container-wrapper {
  background: rgb(248, 248, 248);
  border-right: 1px solid rgb(230, 230, 230);
  height: calc(auto + 167px);
  overflow: scroll;
  width: $notes-index-width;
}

.notebook-container {
  display: flex;
  flex-direction: column;
  font-family: $sans-serif;
  font-weight: 300;  

  header {
    background: rgb(248, 248, 248);
    border-bottom: 1px solid rgb(230, 230, 230);
    border-right: 1px solid rgb(230, 230, 230);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 166px;
    justify-content: flex-end;
    position: fixed;
    width: $notes-index-width;
    z-index: 1;
    
  }

  h1 {
    color: rgb(51, 51, 51);
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 50px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 25px;
    overflow: hidden;
  }
}

.notebook-info-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 20px;
  padding-top: 5px;
}

.notes-count {
  color: rgb(166, 166, 166);
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
}

.notebook-header-icons {
  justify-content: space-between;
  width: 75px;
}

.notebooks-index-container {
  height: 100vh;
  padding-left: 30px;
  padding-right: 30px;
  overflow: visible;
  width: 100%;

  h2 {
    color: rgb(49, 49, 49);
    font-weight: 400;
    font-size: 20px;
    line-height: 80px;
    min-height: 80px;
  }
}

.notebooks-index-header-container {
  color: rgb(51, 51, 51);
  justify-content: space-between;

  h3 {
    font-size: 15px;
    font-weight: 500;
    line-height: 25px;
  }
}

#create-notebook-btn {
  background-color: white;
  border: none;
  color: rgb(0, 168, 45);
  cursor: pointer;
  float: right;
  font-size: 14px;
  font-weight: 500;
  line-height: 25px;
  margin-right: 20px;
  outline-color: rgb(0, 168, 45);
  padding-top: 0px;
  padding-bottom: 2px;
  text-align: center;
}

.notebooks-table {
  border-top: 2px solid rgb(91, 107, 112);
  margin-top: 8px;
}

.header-row {
  background-color: rgb(248, 248, 248);
  border-bottom: 1px solid rgb(237, 237, 237);
  color: rgb(179, 179, 179);
  font-size: 11px;
  font-weight: 400;
  justify-content: space-between;
  padding-bottom: 13px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 13px;
  text-transform: uppercase;

  li {
    margin-left: 20px;
    width: 130px;

    &:last-child {
      text-align: right;
    }
  }
}

.notebooks-index-item {
  font-size: 11px;
  font-weight: 400;
  justify-content: space-between;
  padding-bottom: 10px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 10px;

  ul {
    min-width: 345px;
    justify-content: space-between;
  }

  li {
    color: rgb(119, 119, 119);
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    margin-left: 20px;
    padding: 0;
    width: 130px;
    text-align: left;    
  }

  .notebook-actions-icon {
      text-align: right;

      &:hover {
        cursor: pointer;
      }
    }

  > div {
    color: rgb(49, 49, 49);
    cursor: pointer;
    font-size: 14px;
    margin-left: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px;
  }

  .notebook-index-icon {
    padding-right: 5px;
  }


  &:nth-of-type(2n+1) {
      background-color: rgb(248, 248, 248);
  }

  &:hover {
    background-color: rgb(242, 242, 242);
    transition: all 0.1s ease-out;
  }

  .notebook-link {
    text-decoration: none;
    
    &:hover {
      text-decoration: underline;
      transition: all 0.1s ease-in-out;
    }

    &:visited {
      color: rgb(49, 49, 49);
    }
  }
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(42, 51, 60, .4);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-interior {
  background-color: white;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 0px 1px, rgba(0, 0, 0, 0.2) 0px 2px 15px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 24px;
  padding: 25px;
  transition: width 1s ease-in;;
  min-width: 500px;

  h2 {
    color: rgb(85, 85, 85);
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    margin-bottom: 15px;
  }

  p {
   color: rgb(119, 119, 119);
   font-size: 13px;
   line-height: 20px;
   margin-bottom: 18px; 
  }

  label {
   color: rgb(122, 128, 131);
   font-size: 12px;
   font-weight: 500;
   line-height: 18px;
  }

  .form-input {
    border: 1px solid rgb(225, 225, 225);
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
    height: 40px;
    line-height: 18px;
    padding-bottom: 0px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 0px;
    margin-top: 5px;
    margin-bottom: 20px;
    width: 500px;
  }

  .submittal-container {
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
    border-top: 1px solid rgb(237, 237, 237);
    float: right;
    width: 100%;
  }

  .continue-btn {
    background-color: rgb(0, 168, 45);
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    margin-left: 10px;

    &:hover {
      cursor: pointer;
    }
  }

  .cancel-btn {
    background-color: white;
    border: 1px solid rgb(237, 237, 237);
    border-radius: 4px;
    color: rgb(179, 179, 179);
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    line-height: 37px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 10px;

    &:hover {
      color: rgb(150, 150, 150);
      border-color: rgb(195, 195, 195);
    }
  }
}

.close-modal {
  position: absolute;
  right: 20px;
  top: 20px;

  &:hover {
    cursor: pointer;
  }
}

.dropdown {
  background-attachment: scroll;
  background-color: white;
  border-radius: 3px;
  box-shadow: rgba(99, 114, 130, 0.16) 0px 0px 0px 1px, rgba(27, 39, 51, 0.08) 0px 4px 12px 0px;
  box-sizing: border-box;
  color: rgb(85, 85, 85);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 6px;
  margin-top: 6px;
  overflow: visible;
  padding-bottom: 12px;
  padding-top: 12px;
  position: absolute;
  right: 20px;
  width: 200px;
  z-index: 2;

  ul {
    width: inherit;
  }

  li {
    box-sizing: border-box;
    display: flex;
    text-transform: none;
    text-align: left;
    transition: all 0.1s ease-in-out;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    white-space: nowrap;
    width: inherit;

    &:hover {
     background-color: rgb(245, 245, 245); 
     cursor: pointer;
    }
  }
}

.notes-index-wrapper {
  overflow: scroll;
  position: relative;
  top: 167px;
}

.notes-index-item {
  background-color: rgb(248, 248, 248);
  border-bottom: 1px solid rgb(230, 230, 230);
  box-sizing: border-box;
  color: rgb(77, 77, 77);
  cursor: pointer;
  font-size: 13px;
  height: 121px;
  line-height: 20px;
  overflow: hidden;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 24px;
  padding-top: 15px;
  transition: all 0.1s ease-out;

  &:hover {
    background-color: rgb(242, 242, 242);
  }

  h4 {
    color: rgb(51, 51, 51);
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 2px;
    overflow: hidden;
    white-space: nowrap;
  }

  p {
    color: rgb(77, 77, 77);
    height: 40px;
    line-height: 20px;
    opacity: 1;
    margin-bottom: 5px;
    overflow-wrap: break-word;
    overflow: hidden;
    transition: opacity 0.2s ease-in;
  }

  span {
    color: rgb(166, 166, 166);
    font-size: 12px;
    line-height: 18px;
  }
}

.notes-wrapper {
  display: flex;
  width: $notes-index-width;
}

.note-show-wrapper {
  display: flex;
  flex-grow: 1;
  height: 100vh;
  position: fixed;
  right: 0;
  width: $note-show-width;
}

.note-show {
  box-sizing: border-box;  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
  font-weight: 300px;
  line-height: 24px;
  overflow: visible;
  width: 100%;
}

.note-show-header {
  border-bottom: 1px solid rgb(237, 237, 237);
  box-sizing: border-box;
  display: flex;
  min-height: 54px;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}

.share-btn {
  background-color: rgb(0, 168, 45);
  border-radius: 4px;
  border: 1px solid rgb(0, 168, 45);
  color: white;
  cursor: pointer;
  font-weight: 400;
  font-size: 13px;
  line-height: 13px;
  margin-right: 12px;
  padding-bottom: 5px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 5px;
  text-align: center;
  vertical-align: middle;
}

.note-dropdown-icon {
  cursor: pointer;
}

.note-title-container {
  height: 40px;
}

.note-title {
  border: none;
  top: 40px;
  color: black;
  font-size: 34px;
  font-weight: 300;
  line-height: 24px;
  margin-top: 5px;
  min-width: 300px;
  overflow: hidden;
  padding-bottom: 4px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 8px;
  position: relative;
  // width: $note-show-width;
}

.ql-toolbar.ql-snow {
  border-bottom: 1px solid rgb(236, 236, 236) !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  bottom: 40px;
  position: relative;
  margin-left: 40px;
  margin-right: 40px;
  overflow: hidden;
  white-space: nowrap;
  z-index: 1;
}

.ql-container {
  border: none !important;
  display: flex;
  flex-grow: 1;
}

.ql-editor {
  color: rgb(51, 51, 51);
  font-family: $sans-serif;
  font-size: 14px;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 15px;
  min-height: 200px;
}

.ql-editor[data-placeholder]:not(:focus):before {
  font-style: normal;
}

.ql-editor[data-placeholder]:focus:before {
  font-style: normal;
}

.ql-picker-options {
  z-index: 10 !important;
}


.note-show-tags {
  border-top: 1px solid rgb(236, 236, 236);
  box-sizing: border-box;
  color: rgb(119, 119, 119);
  height: 50px;
  line-height: 50px;
  padding: 10px;

  svg {
    margin-right: 10px;
  }
}

.note-form {
  flex-grow: 1;
}

.selected-note {
  background-color: rgb(242, 242, 242);
}

svg {
  cursor: pointer;
}

.fullscreen {
  position: fixed;
  background: white;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.note-show-dropdown {
  top: 20px;
}

#parent-notebook-link {
  color: rgb(122, 128, 131);
  cursor: pointer;
  font-size: 13px;
  line-height: 20px;
  margin-left: 7px;
  max-width: 195px;
  text-decoration-color: rgb(122, 128, 131);
  text-decoration-style: solid;
  white-space: nowrap;

  &:hover {
    text-decoration: underline;
  }
}