@import "variables";

.main {
  position: absolute;
  display: flex;
  font-family: $sans-serif;
  font-weight: 300;
  height: 100%;
  width: 100%;
}

.notebook-container {
  background: rgb(248, 248, 248);
  border-right: 1px solid rgb(230, 230, 230);
  display: flex;
  flex-direction: column;
  font-family: $sans-serif;
  font-weight: 300;
  overflow: scroll;
  width: 345px;

  header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 166px;
    border-bottom: 1px solid rgb(230, 230, 230);
  }

  h1 {
    color: rgb(51, 51, 51);
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 50px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 25px;
    overflow: hidden;
  }
}

.notebook-info-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 20px;
  padding-top: 5px;
}

.notes-count {
  color: rgb(166, 166, 166);
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
}

.notebook-header-icons {
  justify-content: space-between;
  width: 75px;
}

.notebooks-index-container {
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;

  h2 {
    color: rgb(49, 49, 49);
    font-weight: 400;
    font-size: 20px;
    line-height: 80px;
    min-height: 80px;
  }
}

.notebooks-index-header-container {
  color: rgb(51, 51, 51);
  justify-content: space-between;
  // margin-top: 10px;

  h3 {
    font-size: 15px;
    font-weight: 500;
    line-height: 25px;
  }
}

#create-notebook-btn {
  background-color: white;
  border: none;
  color: rgb(0, 168, 45);
  cursor: pointer;
  float: right;
  font-size: 14px;
  font-weight: 500;
  line-height: 25px;
  margin-right: 20px;
  outline-color: rgb(0, 168, 45);
  padding-top: 0px;
  padding-bottom: 2px;
  text-align: center;
}