@import "variables";

.sidebar {
  background-color: rgb(26, 26, 26);
  color: white;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 241px;
  font-family: $sans-serif;
}

.user-profile-container {
  display: flex;
  align-items: center;
  height: 56px;
  box-sizing: border-box;
  padding-left: 20px;
  font-size: 13px;
  color: rgb(204, 204, 204);
}

.user-profile {
  display: flex;
  align-items: center;
  float: left;
  padding-top: 3px;
  padding-bottom: 3px;
  cursor: pointer;
  width: 60%;
}


.avatar {
  height: 28px;
  width: 28px;
  margin-right: 9px;
  border-radius: 50%;
}

.profile-svg {
  margin-left: 9px;
  stroke: rgb(204, 204, 204);
}