@import "variables";

.sidebar {
  background-color: rgb(26, 26, 26);
  color: white;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 241px;
  font-family: $sans-serif;
}

.user-profile-container {
  display: flex;
  align-items: center;
  height: 56px;
  box-sizing: border-box;
  padding-left: 20px;
  font-size: 13px;
  color: rgb(204, 204, 204);
}

.user-profile {
  display: flex;
  align-items: center;
  float: left;
  padding-top: 3px;
  padding-bottom: 3px;
  cursor: pointer;
}

.avatar {
  height: 28px;
  width: 28px;
  margin-right: 9px;
  border-radius: 50%;
}

.profile-svg {
  margin-left: 9px;
  stroke: rgb(204, 204, 204);
  margin-top: 3px;;
}

.user-profile-dropdown {
  background: white;
  border-radius: 3px;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  color: rgb(102, 102, 102);
  display: block;
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
  margin-top: 6px;
  margin-bottom: 6px;
  overflow: visible;
  padding-top: 10px;
  position: absolute;
  left: 15px;
  top: 56px;
  width: 290px;

  li {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-family: $sans-serif;
    line-height: 21px;
    padding-bottom: 3px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 3px;
    position: relative;
    transition: 0.1s;
  }

  .hoverable:hover {
    background-color: rgb(240, 240, 240);
  }

  li:first-child {
    color: rgb(179, 179, 179);
    cursor: default;
    font-size: 13px;
  }

  li:nth-of-type(2) {
    border-bottom: 1px solid rgb(230, 230, 230);
    cursor: default;
    font-size: 16px;
    padding-bottom: 10px;
    margin-bottom: 8px;
  }

  li:last-child {
    border-top: 1px solid rgb(230, 230, 230);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 8px;

    &:hover {
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
    }
  }
}

.user-snippet {
  display: flex;
  align-items: center;
}

.no-display {
  display: none;
}

.search-bar-container {
  align-items: center;
  background-color: rgb(51, 51, 51);
  border-radius: 4px;
  box-sizing: border-box;
  color: white;
  display: flex;
  font-weight: 300;
  justify-content: space-between;
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 12px;
}

.search-input {
  background-color: rgba(0, 0, 0, 0);
  font-size: 14px;
  font-family: $sans-serif;
  line-height: 20px;
  margin-left: 10px;
  border: none;
  color: white;
  font-weight: 300;

  &::placeholder {
    color: rgba(255, 255, 255, 0.5);
  }
}